/JavaApplication9/nbproject/private/
/Clementine/nbproject/private/
/Clementine/build/
/Clementine/dist/
/ClementineClient/nbproject/private/
/ClementineClient/build/
/ir/nbproject/private/
/fdkjlsafjsdal/nbproject/private/
/fdkjlsafjsdal/dist/
/fdkjlsafjsdal/build/